<a href="https://colab.research.google.com/github/IbanezJohnMatthewA/CPE009A-OOP/blob/main/demo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5 > 2:
   print ("Five is greater than two")

Five is greater than two

Python Comments

In [ ]:
if 5 > 2:
  print ("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

Variable Naming Conventions

Python Variable

In [ ]:
#This is a single variable with a value
x = 1
a, b = 0,-1
a, b, c=0,-1,2

print (a)
print (b)
print (c)
print (x)
b="JM"

print (b)

0
-1
2
1
JM

Casting

In [ ]:
b="Sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [ ]:
x = 5
y ="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [ ]:
y="John"
print(y)
y='John'
print(y)

John
John

Case sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [ ]:
x,y,z ="one","two","three"
print (x,y,z)

one two three

One Value to Multiple Variables

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x = "enjoying"
print("Python programming is " + x)

#Other way:
x = "Python is "
y = "enjoying"
z= x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [52]:
x=5
y=3
print (x+y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [53]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators

In [54]:
x=1
y=1
x==y

True

Logical Operators

In [59]:
x=1
x<5 and x<10

True

Identity Operators

In [70]:
a,b,c=0,-1,5
a is a

True

Bitwise Operators