<a href="https://colab.research.google.com/github/IbanezJohnMatthewA/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations and expressions in python

In [29]:
print(bool("Hello"))
print(bool("15"))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool())
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

In [13]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))

True
False
True
False

Function can return a Boolean

In [24]:
def myFunction():
  return True

if myFunction():
  print("Yes")
else:
  print("No!")

Yes

You Try!

In [25]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators

In [27]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [45]:
a = 60
b = 13
print(a&b)
print(a|b)
print(a^b)
print(a << 2)

12
61
49
120

Python assignment operators

In [53]:
x = 1
x+=3
x = x+3
print(x)
x = x-3
x-=3
print(x)
x= x*3
x*=3
print(x)
x= x/3
x/=3
print(x)
x = x%3
x%=3
print(x)

7
1
9
1.0
1.0

Logical Operators

In [70]:
y = 60
z = 13


print(y > z)
print(y < z)
print(y<z or z>y)
print(y>z and z<y)
print(not(y>z and z<y))
print(y>z or z<y)

True
False
False
True
False
True

Identity operators

In [72]:
x = 60
y = 13

print(y is z)
print(not(y is z))

True
False

Conditional statement in python

In [74]:
print("Enter a number: ")
a = int(input())

if a > 0:
  print("The number is Positive.")
elif a < 0:
  print("The number is Negative")
else:
  print("The number is Zero.")

Enter a number:
87
The number is Positive.

Loop Statement

In [117]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Looping through a string

In [106]:
for x in "week":
  print(x)

w
e
e
k

The range()Function

In [120]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5
6

In [125]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While loops

In [3]:
i = 1
while i < 6:
  print(i)
  i += 1# i+1

1
2
3
4
5

The break statement

In [15]:
i=1
while i<6:
  print(i)
  if 1 == 3:
    break
  i+=1

1
2
3
4
5

The Continue Statement

In [13]:
i=0
while i <6:
  i+=1
  if i== 3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1

else:
  print("is no longer less than 6")

1
2
3
4
5
is no longer less than 6